<a href="https://colab.research.google.com/github/rammya29/hackerrank-Python/blob/main/Introducttion/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Loops

##Task

The provided code stub reads and integer,n , from STDIN. For all non-negative integers `i < n` , print i^2.

Example

The list of non-negative integers that are less than `n = 3` is `[0 1 2]` . Print the square of each number on a separate line.

##Input Format

The first and only line contains the integer, **n** .

##Output Format

Print  lines, one corresponding to each .

**Sample Input 0**

5

**Sample Output 0**

0

1

4

9

16

In [1]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
      print(i*i)

5
0
1
4
9
16